<!-- app/views/plots/index.html.erb -->
<div class="banner-index index-banner">
  <div class="container">
    <h1>Welcome to <strong>Planet Plots</strong></h1>
    <p>Launch into the <strong>Interstellar</strong> property market</p>
  </div>
</div>

<div class="container mt-4">
  <div class="cards-container">
    <% @plots.each do |plot| %>
      <div class="card-product my-4">
        <% if plot.photo.attached? %>
          <%= link_to image_tag(url_for(plot.photo), class: "card-img-top"), plot_path(plot) %>
        <% else %>
          <%= link_to image_tag('galaxy.jpg', class: "card-img-top"), plot_path(plot) %>
        <% end %>
        <div class="card-product-infos">
          <h2 class="text-primary"><%= plot.name %></h2>
          <p class="fst-italic"><%= plot.planet.name %></p>
          <p><%= plot.description %></p>
          <p><strong>Seller:</strong> <%= plot.user.last_name %></p>
          <%= render "plots/purchase-button", plot: plot, request: @request %>
        </div>
      </div>
    <% end %>
    <div class="card-product invisible-card"></div>
    <div class="card-product invisible-card"></div>
    <div class="card-product invisible-card"></div>
    <div class="card-product invisible-card"></div>
  </div>
</div>
