<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('planets.jpg') %>);">
  <div class="container">
    <h1>Welcome to <strong>Planet Plots</strong></h1>
    <p>Launch into the <strong>Interstellar</strong> property market </p>
  </div>
</div>


<div class="container d-flex">
  <div class="row justify-content-end">
    <% @plots.each do |plot| %>
      <div class="col-6 col-md-4 col-lg-3" id="columns" data-controller="insert-in-list">
        <div class="card-product my-4">
          <%= link_to cl_image_tag(plot.photo.key, height:120, :class => "btn-image"), plot_path(plot.id) %>
          <div class="card-product-infos" data-insert-in-list-target="items">
            <p class="text-primary fs-3 fw-bold m-0 opacity-100"><%= plot.name %></p>
            <p class="fst-italic fs-5 fw-normal m-0"><%= plot.planet.name %></p>
            <p><%= plot.description %></p>
            <p><strong>Seller</strong>: <%= plot.user.last_name %></p>
            <div class="d-flex justify-content-between">
              <div class="price">
                <h5 class="mt-2">Price:</h5>
                <p class="mt-0">$<%= plot.price %></p>
              </div>
              <%= render "plots/purchase-button", plot: plot, request: @request %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
