<!DOCTYPE html>
<html>
<head>
  <title>Create New Plot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    body {
      background-color: #004422;
      color: #00DDAA;
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      margin-bottom: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .btn {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Create New Plot</h1>

    <%= simple_form_for @plot do |f| %>
      <%= f.input :name, label: 'Plot Name' %>
      <%= f.input :description, as: :text, label: 'Description' %>

      <%= f.input :planet_id, label: 'Planet', collection: Planet.all, label_method: :name, value_method: :id, include_blank: 'Type or select a planet', input_html: { class: 'select2-enable', data: { placeholder: 'Type or select a planet' } } %>

      <%= f.button :submit, 'Create Plot', class: "btn btn-primary" %>
    <% end %>
  </div>
</body>
</html>
