<div class="container">
  <h1>Plot Details</h1>

  <p><strong>Name:</strong> <%= @plot.name %></p>
  <p><strong>Planet:</strong> <%= @plot.planet.name %></p>
  <p><strong>Description:</strong> <%= @plot.description %></p>
  <p><strong>Price:</strong> <%= "$#{number_with_precision(@plot.price, precision: 2)}" %></p>
  <p><strong>Owner:</strong> <%= "#{@plot.user.first_name} #{@plot.user.last_name}" %></p>

  <!-- Edit button -->
  <%= link_to 'Edit', edit_plot_path(@plot), class: 'btn btn-primary' %>

  <%= link_to 'Back', plots_path, class: 'btn btn-secondary' %>
</div>
