<!DOCTYPE html>
<html>
  <head>
    <title>PlanetPlots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "select2-css", "data-turbo-track": "reload" %> <!-- Add this line for Select2 CSS -->
    <%= javascript_importmap_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="content">
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <div class="footer">
        <div class="footer-copyright mt-3">
          Website is provided by Laurent Lefebvre, Declan Schindler and Yuefei Dong
        </div>
        <div class="footer-links">
          <a href="https://wwww.https://github.com/ldlefebvre"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/laurentlefebvre/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    <script>
      // JavaScript/jQuery for controlling notice popup
      $(document).ready(function() {
        var noticeText = "<%= notice %>".trim();
        if (noticeText !== "") {
          var noticePopup = $("<div class='notice-popup'></div>").text(noticeText);
          $("body").append(noticePopup);
          noticePopup.fadeIn();
          setTimeout(function() {
            noticePopup.fadeOut(function() {
              $(this).remove();
            });
          }, 5000); // Adjust the timeout duration (in milliseconds) as needed
        }
      });
    </script>
  </body>
</html>
</html>
